<!DOCTYPE html>
<html lang="en" ng-app="pouchApp">
<head>
  <meta charset="UTF-8">
  <title>AngularJS Meet PouchDB</title>
</head>
<body ng-controller="diariesController">
  <h1>Five Senses Diary</h1>
    <table>
      <th>
        <td>Title</td>
        <td>Sight</td>
        <td>Smell</td>
        <td>Sound</td>
        <td>Taste</td>
        <td>Touch</td>
      </th>
      <tr ng-repeat="diary in diaries">
        <td>{{diary.title}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="/static/js/pouchdb-2.2.0.min.js"></script>
  <script src="/static/js/app-angular.js"></script>
</body>
</html>
